In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index = ['row1','row2','row3','row4','row5'], columns = ['col1','col2','col3','col4'])

In [6]:
df.head()

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [7]:
df.to_csv('test')

In [8]:
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

In [11]:
type(df.loc['row1'])

pandas.core.series.Series

In [10]:
df.iloc[0:2,0:2]

      col1  col2
row1     0     1
row2     4     5

In [12]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [13]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64